{% extends 'base.html' %}

{% block content %}
    <h1>Список портфоліо</h1>

    {% if portfolios %}
        {% for portfolio in portfolios %}
            <div class="portfolio">
                <h2>{{ portfolio.user.name }} {{ portfolio.user.surname }}</h2>
                <p><strong>Посада:</strong> {{ portfolio.position }}</p>
                <p><strong>Категорія:</strong> {{ portfolio.category }}</p>
                <p><strong>Країна:</strong> {{ portfolio.country }}</p>
                <p><strong>Досвід роботи:</strong> {{ portfolio.work_exp }} років</p>
                <p><strong>Бажана зарплата:</strong> ${{ portfolio.salary_expectation }}</p>
                <p><strong>Рівень англійської:</strong> {{ portfolio.english_level }}</p>
                <p><strong>Навички:</strong> {{ portfolio.skills }}</p>
                <p><strong>Знання української:</strong> {% if portfolio.knowledge_ukrainian %}Так{% else %}Ні{% endif %}</p>
                <p><strong>Email:</strong> {{ portfolio.user.email }}</p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>Портфоліо не знайдено.</p>
    {% endif %}
{% endblock %}
